<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suqizhao.questionStore.mapper.NoticeMsgMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        unid, created_user_id, created_username, create_time, update_time, update_user_id, update_username, delete_flag, title, content
    </sql>

    <select id="getNoticeMsgById" resultType="com.suqizhao.questionStore.vo.NoticeMsgQueryVo">
        select
        <include refid="Base_Column_List"/>
        from notice_msg where id = #{id}
    </select>

    <select id="getNoticeMsgPageList" resultType="com.suqizhao.questionStore.vo.NoticeMsgQueryVo">
        select
        <include refid="Base_Column_List"/>
        from notice_msg
    </select>

    <select id="findNoticePage" resultType="com.suqizhao.questionStore.vo.NoticeMsgQueryVo">
        SELECT
        *
        FROM
        notice_msg
        WHERE
        DELETE_FLAG = 0
        <if test="username != null and username != ''">
            and created_username = #{username}
        </if>
        <if test="userId != null and userId != ''">
            and created_user_id = #{userId}
        </if>
        <if test="startDate != null">
            <![CDATA[
                AND create_time >= #{startDate}
             ]]>
        </if>
        <if test="endDate != null">
            <![CDATA[
              AND create_time <= #{endDate}
           ]]>
        </if>
        order by create_time desc
    </select>

</mapper>
