<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suqizhao.questionStore.mapper.QuestionInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cd_id, question_title, question_category, question_detail, question_attachment, create_time, updated_time, delete_flag, create_user_identity, reading, is_resolve, resolve_user
    </sql>

    <select id="getQuestionInfoById" resultType="com.suqizhao.questionStore.vo.QuestionInfoQueryVo">
        select
        <include refid="Base_Column_List"/>
        from question_info where cd_id = #{id}
    </select>

    <select id="getQuestionInfoPageList" resultType="com.suqizhao.questionStore.vo.QuestionInfoQueryVo">
        select
        <include refid="Base_Column_List"/>
        from question_info
    </select>

    <select id="getHotQuestionList" resultType="com.suqizhao.questionStore.vo.QuestionInfoQueryVo">
        SELECT
	    *
        FROM
	    question_info
        ORDER BY
	    reading + 0 DESC
	    LIMIT 1,10
    </select>

    <select id="findQuestionPage" resultType="com.suqizhao.questionStore.vo.QuestionInfoQueryVo">
        SELECT
	    *
        FROM
	    question_info
        WHERE
        DELETE_FLAG = 0
        <if test="questionCategory != null and questionCategory != ''">
            and question_category = #{questionCategory}
        </if>
        <if test="questionTitle != null and questionTitle != ''">
            and question_title like concat(concat('%',#{questionTitle}), '%')
        </if>
        <if test="createUserIdentity != null and createUserIdentity != ''">
            and create_user_identity = #{createUserIdentity}
        </if>
        <if test="startDate != null">
            <![CDATA[
                AND create_time >= #{startDate}
             ]]>
        </if>
        <if test="endDate != null">
            <![CDATA[
              AND create_time <= #{endDate}
           ]]>
        </if>
        <if test="isResolve != null and isResolve != ''">
              AND is_resolve = #{isResolve}
        </if>
            order by create_time desc
    </select>
</mapper>
