<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suqizhao.questionStore.mapper.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cd_id, username, nickname, password, collage_name, major_name, email, telephone, gender, status, create_time, updated_time, login_time, delete_flag, user_level, salt
    </sql>

    <select id="getUserById" resultType="com.suqizhao.questionStore.vo.UserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from user where cd_id = #{id}
    </select>

    <select id="getUserPageList" resultType="com.suqizhao.questionStore.vo.UserQueryVo">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>


    <select id="findUserPage" resultType="com.suqizhao.questionStore.vo.UserQueryVo">
        SELECT
        *
        FROM user
        WHERE delete_flag = 0
        <if test="username != null and username != ''">
            and username like CONCAT(CONCAT('%',#{username}), '%')
        </if>
        <if test="nickname != null and nickname != ''">
            and nickname like CONCAT(CONCAT('%',#{nickname}), '%')
        </if>
        <if test="collageName != null and collageName != ''">
            and collage_name like CONCAT(CONCAT('%',#{collageName}), '%')
        </if>
        <if test="startDate != null">
            <![CDATA[
                AND create_time >= #{startDate}
             ]]>
        </if>
        <if test="endDate != null">
            <![CDATA[
              AND create_time <= #{endDate}
           ]]>
        </if>
        order by create_time desc
    </select>
</mapper>
